/*------------------------------------*\
$CONTENT
\*------------------------------------*/
body {
  padding-top: 25px;
}

#filesTable {
  margin-bottom: 0px;
}

.logos {
  text-align: center;
}
.logos img {
  display: inline-block;
  vertical-align: top;
  margin: 20px 0;
}
.logos img:first-of-type {
  margin-right: 20px;
  margin-bottom: 0;
}

.files-list {
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.files-list ul {
  padding-left: 0;
  margin-bottom: 0;
}
.files-list .fhead {
  background: #f8f8f8;
}
.files-list li {
  display: table;
  width: 100%;
}
.files-list .col {
  display: table-cell;
  height: 60px;
  padding: 10px 15px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
.files-list .col:first-of-type {
  width: 50%;
}
.files-list .group {
  cursor: pointer;
}
.files-list .group .col {
  width: 100%;
}
.files-list .glyphicon {
  margin-right: 10px;
}
.files-list .shape {
  position: relative;
  top: -4px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  margin-left: 5px;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
}
.files-list ul ul ul .shape {
  margin-left: 35px;
}
.files-list ul ul ul ul .shape {
  margin-left: 55px;
}
.files-list .group:hover {
  background: #f5f5f5;
}
.files-list .active {
  background: #f5f5f5;
}

.share-file {
  max-width: 500px;
}
.share-file h3 {
  margin-top: 10px;
}

.share-options label {
  font-weight: normal;
}
.share-options input[type="radio"] {
  margin: 0;
  vertical-align: middle;
}
.share-options .radio-title {
  display: inline-block;
  vertical-align: middle;
}
.share-options .radio-title .icon,
.share-options .radio-title .desc {
  display: table-cell;
  vertical-align: middle;
}
.share-options .radio-title .desc {
  line-height: 16px;
}
.share-options .radio-title .desc b {
  display: block;
}
.share-options .radio-title .desc span {
  font-size: 12px;
  color: #878585;
}
.share-options .radio-title .icon .mask {
  margin: 0 10px;
  padding: 8px;
  background: #efefef;
}

.share-list .title {
  font-size: 12px;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.share-list table {
  width: 100%;
  margin-bottom: 20px;
}
.share-list table tr td {
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}
.share-list table tr:last-of-type td {
  border-bottom: 0;
}
.share-list a {
  color: #333;
}
.share-list a:hover,
.share-list a:focus {
  color: #878787;
  text-decoration: none;
}

.ng-fade {
  transition: 1s ease-in;
}
.ng-fade.ng-enter {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
}
.ng-fade.ng-leave {
  transition: none;
}
.ng-fade.ng-enter,
.ng-fade.ng-leave.ng-leave-active {
  opacity: 0;
}
.ng-fade.ng-leave,
.ng-fade.ng-enter.ng-enter-active {
  opacity: 1;
}

/*------------------------------------*\
$BOOTSTRAP OVERWRITE
\*------------------------------------*/
/* Bootstrap fix */
.has-error span {
  color: #a94442;
}
.has-error label {
  color: #a94442;
}

/* Bootstrap mod */
.jumbotron p {
  font-weight: 100;
  font-size: 16px;
}

/*------------------------------------*\
$OTHER
\*------------------------------------*/
.hidden {
  display: none;
}

.help-block {
  display: none;
}

.modal-vertical-centered {
  transform: translate(0, 50%) !important;
  -ms-transform: translate(0, 50%) !important; /* IE 9 */
  -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}

/** http://tobiasahlin.com/spinkit/ **/
#loginLoading, #logoutLoading {
    display: none;
}

#filesTable, #filesNew {
    display: none;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 50px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

/*------------------------------------*\
$ANIMATIONS
\*------------------------------------*/
@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}