<div class="container" ng-controller="FilesController as c">
  <div class="row topMargin">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-8">
              <h4>bpmn models</h4>
            </div>
            <div class="col-sm-4">
              <input ng-model="search" ng-init="search = ''" type="search" class="form-control pull-right" placeholder="Search files">
            </div>
          </div>
        </div>

        <div class="panel-body">

          <div class="spinner" id="filesLoading">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>

          <script type="text/ng-template" id="categoryTree">
            <div class="fluid" ng-click="c.openGroup($event)">
              <div class="col {{file.type == 'group' ? 'group' : ''}}" ng-switch="file.type == 'group'" >
                <span ng-switch-when="true" class="title">
                  <span class="glyphicon glyphicon-folder-close"></span>
                  <span>{{file.title}}</span>
                </span>
                <span class="title" ng-switch-default><a ng-click="c.editFile(file.id)" href="javascript:void(0)">{{file.title}}</a></span>
              </div>
              <div class="col hidden-xs" ng-if="file.type == 'file'">
                <span>{{file.lastModified}}</span>
              </div>
              <div class="col text-right" ng-if="file.type == 'file'">
                <div class="btn-group">
                  <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#shareModal">
                    <span class="glyphicon glyphicon-share"></span>
                    <span>Share</span>
                  </button>
                  <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#deleteFileModal{{$index}}">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span>Delete</span>
                  </button>
                </div>
              </div>
            </div>
            <ul ng-if="file.type == 'group'" class="hidden subgroup">
              <li ng-repeat="file in file.files" ng-include="'categoryTree'"></li>
            </ul>
          </script>

          <div class="files-list" id="filesList">
            <h4 ng-show="c.noFiles()">No available files...</h4>
            <ul>
              <li class="fhead">
                <div class="fluid">
                  <div class="col">
                    <b>File Name</b>
                  </div>
                  <div class="col hidden-xs">
                    <b>Last Modified</b>
                  </div>
                  <div class="col text-right">
                    <b>Actions</b>
                  </div>
                </div>
              </li>
              <li ng-repeat="file in c.getFiles()" ng-include="'categoryTree'"></li>
            </ul>
          </div>

          <button id="filesNew" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-md">
            <span class="glyphicon glyphicon-plus"></span> New
          </button>
          <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="fileNameLabel">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="fileNameLabel">Create a new file</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group {{ c.isExistingFileName(fileName) ? 'has-error' : '' }}">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-init="fileName = 'Untitled'" ng-model="fileName"
                             aria-describedby="alreadyExists" placeholder="Please insert the file name (without extension)">
                      <div class="input-group-addon">.bpmn</div>
                    </div>
                    <span id="alreadyExists" ng-if="c.isExistingFileName(fileName)" class="help-block">
                      The file name already exists. Please insert a new file name.
                    </span>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button ng-click="c.newFile(fileName+'.bpmn')" data-dismiss="modal" class="btn btn-success" ng-disabled="c.isExistingFileName(fileName)">
                    Create
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- share modal -->
          <div id="shareModal" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-vertical-centered share-file">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Share with others</h3>
                </div>
                <div class="modal-body">
                  <div class="share-options">
                    <p>
                      <label>
                        <input type="radio" name="share" value="public">
                        <span class="radio-title">
                          <span class="icon">
                            <span class="mask">
                              <span class="glyphicon glyphicon-globe"></span>
                            </span>
                          </span>
                          <span class="desc">
                            <b>Public</b>
                            <span>Anyone can access file</span>
                          </span>
                        </span>
                      </label>
                    </p>
                    <p>
                      <label>
                        <input type="radio" name="share" value="private" checked>
                        <span class="radio-title">
                          <span class="icon">
                            <span class="mask">
                              <span class="glyphicon glyphicon-user"></span>
                            </span>
                          </span>
                          <span class="desc">
                            <b>Private</b>
                            <span>Shared with specific people</span>
                          </span>
                        </span>
                      </label>
                    </p>
                  </div>
                  <div class="share-list">
                    <p class="title">Shared with</p>
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            keet.tääpa@desperado.ee
                          </td>
                          <td>
                            <div class="dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true">
                                <span class="value">Can read</span>
                                <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)" ng-click="c.dropDownValue($event)">Can read</a></li>
                                <li><a href="javascript:void(0)" ng-click="c.dropDownValue($event)">Can write</a></li>
                              </ul>
                            </div>
                          </td>
                          <td class="text-right">
                            <a href="javascript:void(0)"><span class="glyphicon glyphicon-remove"></span></a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            keet.tääpa@desperado.ee
                          </td>
                          <td>
                            <div class="dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true">
                                <span class="value">Can read</span>
                                <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)" ng-click="c.dropDownValue($event)">Can read</a></li>
                                <li><a href="javascript:void(0)" ng-click="c.dropDownValue($event)">Can write</a></li>
                              </ul>
                            </div>
                          </td>
                          <td class="text-right">
                            <a href="javascript:void(0)"><span class="glyphicon glyphicon-remove"></span></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="input-group">
                    <input type="text" class="form-control" aria-label="..." placeholder="Enter e-mail address">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                        <span class="value">Can read</span>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="javascript:void(0)" ng-click="c.dropDownValue($event)">Can read</a></li>
                        <li><a href="javascript:void(0)" ng-click="c.dropDownValue($event)">Can write</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" ng-click="c.login()" class="btn btn-success">Confirm</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
